{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}accueil{% endblock %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <br><br>
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ annale.nom }}</h1>
        <br>
        <h4> Date de publication</h4>
        <p>{{ annale.datePublication }}</p>
        <hr><br>

        <h4>Matière</h4>
        <p>{{ annale.idMatiere }}</p>
        <hr><br>

        <h4> Fichier à télécharger</h4>
        <p>{{ annale.fichier }}</p>
        <hr><br>

        <h4>Niveau</h4>
        <p>{{ annale.niveau }}</p>
        <hr><br>

    </div>
{% endblock %}