{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Cours{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="portfolio-modal modal fade" id="evt" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="">
                    <div class="col-lg-10 col-lg-offset-1 centered">
                        <div class="">
                            <h2 style="text-align: center">{{ cours.nomCours }}</h2>
                            <br>
                            <h4>Matière</h4>
                            <p>{{ cours.matiere }}</p>
                            <br>
                            <h4>Niveau</h4>
                            <p>{{ cours.niveau }}</p>
                            <br>
                            {% if cours.specialite is not empty %}
                            <h4>Spécialité</h4>
                            <p>{{ cours.specialite }}</p>
                            <br>
                            {% endif %}
                            <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
                                <h4>Description</h4>
                                <p>{{ cours.description|raw }}</p>
                            </div>
                            <hr><br>

                            <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
                                <h4>Informations de contact</h4>
                                <p>Prénom: <b>{{ infosEtudiant.prenom }}</b></p>
                                <p>Email: <b>{{ infosEtudiant.username }}</b></p>
                                <p>Téléphone: <b>0{{ infosEtudiant.telephone }}</b></p>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
