{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}etudiant{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Modifier mon annale</h2>
            <form class="container" enctype="multipart/form-data" method="POST"  action="{{ path('modif_Annale_Etu', {'id': annale.idAnnale}) }}">
                <br><br>

                <div class="col-xs-4"><h4>La matière dans laquelle vous proposez l'annale</h4>
                    <!-- Page Heading/Breadcrumbs -->

                    <h4>Nom de l'annale</h4>
                    <p>
                        <input type="text" placeholder="Nom de l'annale ex: titre" class="form-control" value="{{ annale.nom }}" name="nom" required>
                    </p>


                    <br>

                    <h4>Année de publication</h4>
                    <p>
                        <input type="text" placeholder="YYYY" maxlength="4" class="form-control" value="{{ annale.datePublication }}" name="datePublication" required>
                    </p>

                    <br>

                    <div class="col-xs-4"><h4>Le niveau concerné par ce livre</h4>
                        <!-- Page Heading/Breadcrumbs -->
                        <h1 class="mt-4 mb-3">

                            <p>Veuillez choisir le niveau parmis :</p>
                            <select id="niveau" name="niveau" class="selectpicker" data-style="btn-primary" onchange="niveauMatiere(this)" required>
                                <option value=""></option>
                                <option value="L1">L1</option>
                                <option value="L2">L2</option>
                                <option value="L3">L3</option>
                                <option value="M1">M1</option>
                                <option value="M2">M2</option>
                            </select>
                            <p>Niveau initial: {{ annale.niveau }}</p>
                        </h1>
                        <br>
                    </div>

                    <h1 class="mt-4 mb-3">
                        <p>Veuillez choisir la matière du cours:</p>
                        <select name="matiere" class="custom-select">
                            <option value=""></option>
                            <optgroup id="L1MIASHS" label="L1 MIASHS">
                                <option value="L1 UP1: App/ réussite">L1 UP1: App/ réussite</option>
                                <option value="L1 UP2: Ouverture">L1 UP2: Ouverture</option>
                                <option value="L1 UP3: réussite">L1 UP3: réussite</option>
                                <option value="L1 UP4: Langues">L1 UP4: Langues</option>
                                <option value="L1 UP5: Droit">L1 UP5: Droit</option>
                            </optgroup>
                            <optgroup id="L2MIASHS" label="L2 MIASHS">
                                <option value="L2 UP1: PG">L2 UP1: PG</option>
                                <option value="L2 UP2: PG">L2 UP2: PG</option>
                                <option value="L2 UP3: Langues">L2 UP3: Langues</option>
                                <option value="L2 UP3: Droit">L2 UP3: Droit</option>
                            </optgroup>
                            <optgroup id="L3" label="L3">
                                <option value="L3 UP Economie">L3 UP Economie</option>
                                <option value="L3 UPE: Droit">L3 UPE: Droit</option>
                                <option value="L3 MIASHS">L3 MIASHS</option>
                                <option value="L3 UP Gestion">L3 UP Gestion</option>
                                <option value="L3 Franco-chinois- cursus international">L3 Franco-chinois- cursus international</option>
                            </optgroup>
                            <optgroup id="M1" label="Master 1">
                                <option value="M1: MBFA">M1: MBFA</option>
                                <option value="M1: EA">M1: EA</option>
                                <option value="M1: EET">M1: EET</option>
                                <option value="M1: APE">M1: APE</option>
                                <option value="M1: ECO DU DROIT">M1: ECO DU DROIT</option>
                                <option value="M1: GESTION">M1: GESTION</option>
                                <option value="M1: CCA">M1: CCA</option>
                                <option value="M1: B&M">M1: B&M</option>
                                <option value="M1:MEEF-PLC-SES">M1: MEEF-PLC-SES</option>
                                <option value="M1:SES (SSA)">M1: SES (SSA)</option>
                            </optgroup>
                            <optgroup id="M2" label="Master 2">
                                <option value="M2: ECONOMIE">M2: ECONOMIE</option>
                                <option value="M2: GESTION">M2: GESTION</option>
                                <option value="M2: PULV">M2: PULV</option>
                                <option value="M2: SES-IES">M2: SES-IES</option>
                                <option value="M2: OSPS">M2: OSPS</option>
                            </optgroup>
                            <optgroup label="Autre">
                                <option value="Autre">Autre</option>
                            </optgroup>

                        </select>
                        <p>Matière initiale: {{ annale.matiere }}</p>
                    </h1>
                    <br>

                    <h4>L'annale en .pdf/.odt/.doc/xls/xlsx/image/...</h4>
                    <input id="file" type="file" name="fichier" onblur="verifFichier()">
                    <p>Fichier initial: {{ annale.fichier }}</p>

                        <button id ="submit" type="submit" class="btn btn-success" onclick="alert('Annale modifée avec succès !')";>Ajouter</button>
                        <br><br>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function niveauMatiere(elem) {
            var niveau = document.getElementById("niveau");
            var selectedValue = niveau.options[niveau.selectedIndex].value;

            if(selectedValue === 'L1'){
                $('#L1MIASHS').show();
                $('#L2MIASHS').hide();
                $('#L3').hide();
                $('#M1').hide();
                $('#M2').hide();
            }
            if(selectedValue === 'L2'){
                $('#L1MIASHS').hide();
                $('#L2MIASHS').show();
                $('#L3').hide();
                $('#M1').hide();
                $('#M2').hide();
            }
            if(selectedValue === 'L3'){
                $('#L1MIASHS').hide();
                $('#L2MIASHS').hide();
                $('#L3').show();
                $('#M1').hide();
                $('#M2').hide();
            }
            if(selectedValue === 'M1'){
                $('#L1MIASHS').hide();
                $('#L2MIASHS').hide();
                $('#L3').hide();
                $('#M1').show();
                $('#M2').hide();
            }
            if(selectedValue === 'M2'){
                $('#L1MIASHS').hide();
                $('#L2MIASHS').hide();
                $('#L3').hide();
                $('#M1').hide();
                $('#M2').show();
            }
        }

        function verifFichier() {
            $("#submit").click(function(){
                var fileName = $("#file").val();
                if(fileName.length == 0) {
                    $("#file").append('<span> You must send a file </span>');
                }

            })
        }
    </script>
{% endblock %}
