{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Evenement{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="portfolio-modal modal fade" id="evt" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 centered">
                        <div class="modal-body container">
                            <h2 style="text-align: center">{{ evenement.titre }}</h2>
                            <br>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img style="width: 500px; height: 300px; margin-left: auto; margin-right: auto; display: block" src="../web/images/{{ evenement.image }}" style="margin-left: 35%" alt="First slide">
                                </div>
                            </div>
                            <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
                                <h4>Description :</h4>
                                <p style="overflow: auto">{{ evenement.description|raw }}</p>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
                                <h4>Lieu :</h4>
                                <p>{{ evenement.lieu }}</p>
                            </div>

                            <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
                                <div class="hline"></div>
                                <p><b>Date de début :</b> {{ evenement.dateDebut }}</p>
                                <p><b>Date de fin :</b> {{ evenement.dateFin }}</p>

                            </div>

                            <hr>
                            <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
                                <h4>Informations de contact etudiant organisateur</h4>
                                <p>Prénom: <b>{{ infosEtudiant.prenom }}</b></p>
                                <p>Email: <b>{{ infosEtudiant.username }}</b></p>
                                <p>Téléphone: <b>0{{ infosEtudiant.telephone }}</b></p>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}