{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Jobs{% endblock %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <br><br>
        <br>
        <br>
        <br>
        <!-- Page Heading/Breadcrumbs -->
        <h2 style="text-align: center">{{ job.titre }}</h2>
        <br>
        <br>
        <br>
        <h4> Description des missions</h4>
        <p>{{ job.description|raw }}</p>
        <br>

        <h4>Catégorie</h4>
        <p>{{ job.categorie }}</p>
        <br>

        <hr>
        <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
            <h4>Informations de contact</h4>
            <p>Prénom: <b>{{ infosEtudiant.prenom }}</b></p>
            <p>Email: <b>{{ infosEtudiant.username }}</b></p>
            <p>Téléphone: <b>{{ infosEtudiant.telephone }}</b></p>

        </div>
    </div>
{% endblock %}