<!DOCTYPE HTML>
<html>
<head>
    <title>Segmi Solidaire</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="web/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ app.request.basepath }}/web/css/style.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/web/css/footer-distributed-with-address-and-phones.css"/>


    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/font-awesome.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/ie8.css"/><![endif]-->

    <!--pour tableau -->
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">


</head>
<body class="homepage">
<div class="header">
    <!-- Nav -->
    <nav id="nav">
        <img id="logo_upx" src="{{ app.request.basepath }}/web/images/logo_upx.png">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li>
                <a href="{{ path('cours') }}">Cours</a>
                <ul>
                    <li><a href="{{ path('cours_l1') }}">Cours L1</a></li>
                    <li><a href="{{ path('cours_l2') }}">Cours L2</a></li>
                    <li><a href="{{ path('cours_l3') }}">Cours L3</a></li>
                    <li><a href="{{ path('cours_m1') }}">Cours M1</a></li>
                    <li><a href="{{ path('cours_m2') }}">Cours M2</a></li>

                </ul>
            </li>
            <li>
                <a href="{{ path('annales') }}">Annales</a>
                <ul>
                    <li><a href="{{ path('annales_l1') }}">Niveau L1</a></li>
                    <li><a href="{{ path('annales_l2') }}">Niveau L2</a></li>
                    <li><a href="{{ path('annales_l3') }}">Niveau L3</a></li>
                    <li><a href="{{ path('annales_m1') }}">Niveau M1</a></li>
                    <li><a href="{{ path('annales_m2') }}">Niveau M2</a></li>

                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Livres</a>
                <ul>
                    <li><a href="{{ path('livres_all') }}">Tous les livres à vendre</a></li>
                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Mini Jobs</a>
                <ul>
                    <li><a href="{{ path('jobs_all') }}">Tous les jobs</a></li>
                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('evenement') }}">Évènement</a>
                <ul>
                    <li><a href="{{ path('evenementSport') }}">Sport</a></li>
                    <li><a href="{{ path('evenementSoiree') }}">Soirée</a></li>
                    <li><a href="{{ path('evenementConf') }}">Conférence</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Déposer une annonce</a>
                <ul>
                    <li><a href="{{ path('ajouter_evenement') }}">Ajouter un évènement</a></li>
                    <li><a href="{{ path('ajouter_aide') }}">Proposer son aide dans une matière</a></li>
                    <li><a href="{{ path('ajouter_job') }}">Proposer un mini job</a></li>
                    <li><a href="{{ path('ajouter_annale') }}">Ajouter des annales</a></li>
                    <li><a href="{{ path('ajouter_livre') }}">Vendre des livres</a></li>
                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            <li><a href="{{ path('login') }}">Connexion</a></li>
        </ul>
        <img id="logo" style="height: 80px;" src="{{ app.request.basepath }}/web/images/logo.png">

    </nav>
</div>
{% block content %}
{% endblock %}
<!-- Footer -->
<footer class="footer-distributed">

    <div class="footer-left">

        <p class="footer-links" style="width: 75%">
            <a href="{{ path('home') }}">Accueil</a>
            ·
            <a href="{{ path('cours') }}">Cours</a>
            ·
            <a href="{{ path('annales') }}">Annales</a>
            ·
            <a href="{{ path('livres_all') }}">Livres</a>
            ·
            <a href="{{ path('jobs_all') }}">Mini Jobs</a>
            ·
            <a href="{{ path('evenement') }}">Évènement</a>
            ·
            <a href="#">Déposer une annonce</a>
            ·
            <a href="{{ path('login') }}">Connexion</a>
        </p>
        <br>
        <p class="footer-company-name" style="color:white">Segmi Solidaire &copy; 2018</p>

    </div>


    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>U.F.R SEGMI<br> 92000 Nanterre</span></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+33 01.41.50.98.74</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">segmisolidaire@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.6294338459065!2d2.209085316077682!3d48.90339897929193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xade365e28caa2d74!2sU.F.R.+Sciences+%C3%89conomiques%2C+Gestion%2C+Math%C3%A9matiques%2C+Informatique!5e0!3m2!1sfr!2sfr!4v1515768751975"
                width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>

</footer>
</body>


<!-- Scripts -->
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.dropotron.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.scrolly.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.onvisible.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/skel.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/util.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/ie/respond.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/main.js"></script>

<!--pour tableau -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

</html>
