<!DOCTYPE HTML>
<html>
<head>
    <title>Segmi Solidaire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="web/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="web/css/style.css" />



    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--
    <link rel="stylesheet" href="web/css/main.css" />
    <link rel="stylesheet" href="web/css/util.css" />
    <link rel="stylesheet" type="text/css" href="web/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="web/font/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/daterangepicker/daterangepicker.css">
-->
</head>
<body class="homepage">
<div class="header">
    <!-- Nav -->
    <nav id="nav">
        <img id="logo_upx" src="web/images/logo_upx.png">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li>
                <a href="{{ path('cours') }}">Cours</a>
                <ul>
                    <li><a href="#">Cours L1</a></li>
                    <li><a href="#">Cours L2</a></li>
                    <li><a href="#">Cours L3</a></li>
                    <li><a href="#">Cours M1</a></li>
                    <li><a href="#">Cours M2</a></li>

                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Annales</a>
                <ul>
                    <li><a href="#">Cours L1</a></li>
                    <li><a href="#">Cours L2</a></li>
                    <li><a href="#">Cours L3</a></li>
                    <li><a href="#">Cours M1</a></li>
                    <li><a href="#">Cours M2</a></li>

                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Livres</a>
                <ul>
                    <li><a href="#">Cours L1</a></li>
                    <li><a href="#">Cours L2</a></li>
                    <li><a href="#">Cours L3</a></li>
                    <li><a href="#">Cours M1</a></li>
                    <li><a href="#">Cours M2</a></li>

                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Mini Jobs</a>
                <ul>
                    <li><a href="#">Babysitting</a></li>
                    <li><a href="#">Animation</a></li>
                    <li><a href="#">Télémarketing</a></li>
                    <li><a href="#">Secrétariat</a></li>
                    <li><a href="#">Vente</a></li>
                    <li><a href="#">Manutention</a></li>
                    <li><a href="#">Cueillette</a></li>
                    <li><a href="#">Vendanges</a></li>
                    <li><a href="#">Restauration</a></li>
                    <li><a href="#">Hôtessariat</a></li>
                    <li><a href="#">Hôtellerie</a></li>
                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('evenement') }}">Évènement</a>
                <ul>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Soirée</a></li>
                    <li><a href="#">Conférence</a></li>
                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Déposer une annonce</a>
                <ul>
                    <li><a href="#">Ajouter un évènement</a></li>
                    <li><a href="#">Proposer son aide dans une matière</a></li>
                    <li><a href="#">Proposer un mini job</a></li>
                    <li><a href="#">Ajouter des annales</a></li>
                    <li><a href="#">Vendre des livres</a></li>
                    <li>
                        <a href="#">And a submenu &hellip;</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li></ul>
                    </li>
                </ul>
            <li><a href="{{ path('login') }}">Connexion</a></li>
        </ul>
        <img id="logo" style="height: 80px;" src="web/images/logo.png">

    </nav>
</div>
{% block content %}
{% endblock %}
</body>


<!-- Scripts -->
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/jquery.min.js"></script>
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/jquery.dropotron.min.js"></script>
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/jquery.scrolly.min.js"></script>
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/jquery.onvisible.min.js"></script>
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/skel.min.js"></script>
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/util.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/ie/respond.min.js"></script><![endif]-->
<script type="text/javascript"  src="{{ app.request.basepath }}/web/js/main.js"></script>

</html>
