{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Liste des evenements de Conférence{% endblock %}

{% block content %}
    <br>
    <div class="wrapper style1">

        <section id="features" class="container special">
            <header>
                <h2>Liste des evenements de Conférence</h2>
            </header>
            <div class="row">
    {% if evenementsConf['tous'] is not empty %}
                {% for evenementsConf in evenementsConf['tous'] %}
                    <article style="cursor: pointer; height:800px" onclick="parent.location='{{ path('evenement_detail', {'id': evenementsConf.idEvenement }) }}'" class="4u 12u(mobile) special">
                        <a href="#" class="image featured"><img style="height: 350px;" src="web/images/{{ evenementsConf.image }}" alt=""/></a>
                        <header>
                            <h3><a href="#">{{ evenementsConf.titre }}</a></h3>
                        </header>
                        <div style="overflow: auto;">
                        <p style="max-height: 15em; overflow: auto">
                            {{ evenementsConf.description|raw }}
                        </p>
                        </div>
                        <p>
                            Début de l'évenement: {{ evenementsConf.dateDebut }}
                        </p>
                        <p>
                            Fin de l'évenement: {{ evenementsConf.dateFin }}
                        </p>
                    </article>
                {% endfor %}
    {% else %}
        <strong style="color: red">Il n'y a actuellement aucune conférence disponible</strong>
    {% endif %}
            </div>
        </section>

    </div>

{% endblock %}