{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Liste des evenements de Sport{% endblock %}

{% block content %}
    <br>
    <div class="wrapper style1">

        <section id="features" class="container special">
            <header>
                <h2>Liste des evenements de Sport</h2>
            </header>
            <div class="row">
    {% if evenementsSport['tous'] is not empty %}
                {% for evenementsSport in evenementsSport['tous'] %}
                    <article style="cursor: pointer; height:800px" onclick="parent.location='{{ path('evenement_detail', {'id': evenementsSport.idEvenement }) }}'" class="4u 12u(mobile) special">
                        <a href="#" class="image featured"><img style="height: 350px;" src="web/images/{{ evenementsSport.image }}" alt=""/></a>
                        <header>
                            <h3><a href="#">{{ evenementsSport.titre }}</a></h3>
                        </header>
                        <div style="overflow: auto;">
                        <p style="max-height: 15em; overflow: auto">
                            {{ evenementsSport.description|raw }}
                        </p>
                        </div>
                        <p>
                            Début de l'évenement: {{ evenementsSport.dateDebut }}
                        </p>
                        <p>
                            Fin de l'évenement: {{ evenementsSport.dateFin }}
                        </p>
                    </article>

                {% endfor %}
    {% else %}
        <strong style="color: red">Il n'y a actuellement aucun évenement sport disponible</strong>
    {% endif %}
            </div>
        </section>

    </div>

{% endblock %}