{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Liste des evenements de Conférence{% endblock %}

{% block content %}
    <br>
    <div class="wrapper style1">

        <section id="features" class="container special">
            <header>
                <h2>Liste des evenements de Conférence</h2>
            </header>
            <div class="row">
                {% for evenementsConf in evenementsConf['tous'] %}
                    <article onclick="parent.location='{{ path('evenement_detail', {'id': evenementsConf.idEvenement }) }}'" class="4u 12u(mobile) special">
                        <a href="#" class="image featured"><img src="web/images/{{ evenementsConf.image }}" alt=""/></a>
                        <header>
                            <h3><a href="#">{{ evenementsConf.titre }}</a></h3>
                        </header>
                        <p>
                            {{ evenementsConf.description }}
                        </p>
                        <p>
                            Début de l'évenement: {{ evenementsConf.dateDebut }}
                        </p>
                        <p>
                            Fin de l'évenement: {{ evenementsConf.dateFin }}
                        </p>
                    </article>
                {% endfor %}
            </div>
        </section>

    </div>

{% endblock %}