{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Liste des evenements de Soirée{% endblock %}

{% block content %}
    <br>
    <div class="wrapper style1">

        <section id="features" class="container special">
            <header>
                <h2>Liste des evenements de Soirée</h2>
            </header>
            <div class="row">
    {% if evenementsSoiree['tous'] is not empty %}
                {% for evenementsSoiree in evenementsSoiree['tous'] %}
                    <article style="cursor: pointer; height:800px" onclick="parent.location='{{ path('evenement_detail', {'id': evenementsSoiree.idEvenement }) }}'" class="4u 12u(mobile) special">
                        <a href="#" class="image featured"><img style="height: 350px;" src="web/images/{{ evenementsSoiree.image }}" alt=""/></a>
                        <header>
                            <h3><a href="#">{{ evenementsSoiree.titre }}</a></h3>
                        </header>
                        <div style="overflow: auto;">
                        <p style="max-height: 15em; overflow: auto">
                            {{ evenementsSoiree.description|raw }}
                        </p>
                        </div>
                        <p>
                            Début de l'évenement: {{ evenementsSoiree.dateDebut }}
                        </p>
                        <p>
                            Fin de l'évenement: {{ evenementsSoiree.dateFin }}
                        </p>
                    </article>
                {% endfor %}
    {% else %}
        <strong style="color: red">Il n'y a actuellement aucune soirée disponible</strong>
    {% endif %}
            </div>
        </section>

    </div>

{% endblock %}