{% extends "layout_liste.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Cours{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Liste des cours proposés pour tous les niveaux
        </h1><br>
        <table id="example" class="row-border" cellspacing="0"  width="100%">
            <thead>
            <tr>
                <th>Nom du cours</th>
                <th>Description</th>
                <th>Matière</th>
                <th>Formation</th>
            </tr>
            </thead>
            <tbody>
            {% if cours['tous'] is not empty %}
               {% for cours in cours['tous'] %}
                   <tr title="Visualiser le cours" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#B0C4DE'" onmouseout="this.style.backgroundColor=''" onclick="parent.location='{{ path('coursDetails', {'id': cours.idCours }) }}'" style="height: 6em">
                       <td style="font-family: Impact, Charcoal, sans-serif; text-align: center">{{ cours.nomCours }}</td>
                       <td style="overflow: auto; height: 6em">{{ cours.description|raw }}</td>
                       <td style="text-align: center">{{ cours.matiere }}</td>
                       <td style="text-align: center">{{ cours.niveau }}{% if cours.specialite is not empty %} - {{cours.specialite}} {% endif %}</td>
                   </tr>
               {% endfor %}
            {% else %}
                <strong style="color: red">Il n'y a acutuellement aucun cours disponible pour tous les niveaux</strong>
            {% endif %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% endblock %}
