{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}Livre{% endblock %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <br><br>
        <br>
        <br>
        <br>
        <!-- Page Heading/Breadcrumbs -->
        <h2 style="text-align: center">{{ livre.titre }}</h2>
        <br>


        <h4> Auteur</h4>
        <p>{{ livre.auteur }}</p>
        <br>

        <h4>Matière correspondante</h4>
        <p>{{ livre.matiere }}</p>
        <br>

        <h4>A partir du niveau</h4>
        <p>{{ livre.niveau }}</p>
        <br>

        <h4>Prix en €</h4>
        <p>{{ livre.prix }}</p>
        <hr>

        <div class="col-lg-5 col-lg-offset-1" style="text-align:justify;">
            <h4>Informations de contact</h4>
            <p>Prénom: <b>{{ infosEtudiant.prenom }}</b></p>
            <p>Email: <b>{{ infosEtudiant.username }}</b></p>
            <p>Téléphone: <b>0{{ infosEtudiant.telephone }}</b></p>

        </div>
    </div>

{% endblock %}