{% extends "layout.twig" %}

{% set menu_selected = 'login' %}

{% block title %}User authentication{% endblock %}

{% block content %}

    <link rel="stylesheet" href="web/css/main.css"/>
    <link rel="stylesheet" href="web/css/util.css"/>
    <link rel="stylesheet" type="text/css" href="web/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="web/font/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="web/vendor/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <div class="limiter">
    <br>
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form"  action="{{ path('connexion') }}" method="post">
						<span class="login100-form-title p-b-26">
							Se connecter
						</span>
                    {% if error %}  <br>
                        <br>
                        <div class=\"container\">
                            <br>
                            <div class="alert alert-warning">
                                <strong>Il y a une erreur dans l'adresse mail ou le mot de passe.</strong>
                            </div>
                        </div>
                    {% endif %}
                    <div class="wrap-input100 validate-input" data-validate="Email requis">
                        <input class="input100" type="text" name="_username">
                        <span class="focus-input100" data-placeholder="Email" ></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Mot de passe requis">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
                        <input class="input100" type="password" name="_password">
                        <span class="focus-input100" data-placeholder="Mot de passe"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Connexion
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
							<span class="txt1">
								Pas encore inscrit ?
							</span>

                        <a class="txt2" href="{{ path('inscription') }}">
                            Inscris toi ici !
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script type="text/javascript" src="{{ app.request.basepath }}/web/vendor/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/vendor/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript"
            src="{{ app.request.basepath }}/web/vendor/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/vendor/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/login.js"></script>

{% endblock %}
